.signupForm {
    width: 60%;
}

.field {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.submit {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-bg {
    background-image: url("../../images/modal-parkinglot-bg.jpeg"); // fallback
    background-image:
        linear-gradient(to right bottom, white, rgba(0, 0, 0, 0.5)),
        url("../../images/modal-parkinglot-bg.jpeg");
    background-size: 100% 100%;
    flex-grow: 1;
}
