.signupForm {
    width: 60%;
}

.field {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.submit {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}
