.quickBook {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    top: 20vh;
}

.mainBubble {
    font-family: 'Black Han Sans', sans-serif;
    display: flex;
    // align-self: center;
    z-index: 3;
    margin-top: 20vh;
    height: 90px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .4);
    font-size: 18px;

    div {
        padding-top: 10px;
        width: 25%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            font-size: 35px;
            border-radius: 40px;
        }
    }
    input {
        display: block;
        height: 20px;
    }
    select {
        display: block;
        height: 30px;
    }
    form {
        display: inline-flex;
    }
}
