nav {
    font-family: 'Black Han Sans', sans-serif;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-shadow: lightgrey 1px 1px;
    z-index: 3;

    // div {
    //     border-radius: 30px;
    //     align-self: center;
    //     height: 30px;
    // }
}
.title {
    font-size: 10vh;
    color: black;
    padding-left: 20px;
}
.menu {
    display: flex;
    align-content: center;
    width: fit-content;
    padding-right: 15px;

    span {
        display: flex;
        align-items: center;
        padding: 15px;
        cursor: pointer;   
        
        a {
            text-decoration: none;
            color: black;
        }
    }
}
.staticBG{
    position: absolute;
    background-image: url('/images/car-strip.png');
    width: 100%;
    background-size: auto 14vh;
    height: 14vh;
    z-index: 2;
}
.stickyBG{
    background-color: white;
    width: 100%;
    background-size: auto 14vh;
    height: 14vh;
    z-index: 1;
    opacity: .3;
}