.dashboard {
    margin-top: 14vh;
    margin-left: 2em;
    margin-right: 2em;
}

.active-lists {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dash-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        padding-inline-start: 0;
        list-style-type: none;
        margin: 0;
        // max-height: 60%;
        // overflow-y: scroll;
        
        li {
            padding: 1rem;
            margin: 0.5rem;
            border: 1px solid black;
            border-radius: 0.5rem;
        }
    }

    button {
        margin-top: auto;
        padding: 1rem 0.4rem;
    }
}
