.dashboard-content-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-image:
        linear-gradient(rgba(171, 171, 171, 0.3), rgba(171, 171, 171, 0.3)),
        url("../../images/bg-sunny-parking-lot.jpeg");
    background-position: center;
}

.dashboard {
    margin-top: 14vh;
    margin-left: 2em;
    margin-right: 2em;
    flex-grow: 1;

    h1, h2 {
        text-shadow: #f1f3f4 0 0 2px;
    }
}

.active-lists {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dash-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        padding-inline-start: 0;
        list-style-type: none;
        margin: 0;
        // max-height: 60%;
        // overflow-y: scroll;
        
        li {
            padding: 1rem;
            margin: 0.5rem;
            border: 2px solid black;
            border-radius: 0.5rem;
            background-color: #f1f3f4;
            opacity: 0.8;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .dateheader {
                width: 100%;
                padding-bottom: 0.3rem;
                margin-bottom: 0.3rem;
                text-align: center;
                border-bottom: 1px gray solid;
            }
        }
    }

    button {
        margin-top: auto;
        margin-bottom: 2rem;
        padding: 1rem 0.4rem;
        background-color: #d9dcde;
    }
}

.dashboard-nolist {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0.4rem auto 1rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #c5cccf;//#a3a8ab;
    opacity: 0.8;
}

.page-error {
    margin: 20vh auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #c5cccf;
}
