.infoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: scroll;
}
.infoBody {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    animation: boxSlide 2s 1;
}

@keyframes boxSlide {
    from {margin-top: 1000px;}
    to {margin-top: 0;}
}

.info1, .info2, .info3 {
    width: 300px;
    height: 50vh;
    border: 1px solid black;
    box-shadow:20px 20px 20px grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    h2 {
        font-family: 'Black Han Sans', sans-serif;
        font-weight: 100;
        text-shadow: 0 0 5px #fff, 0 0 5px #fff;
    }
}

.boxGrow {
    animation: boxGrow 2s 1;
}

@keyframes boxGrow {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.info1 {
    background-image: url('../../images/mapPic.png');
}
.info2 {
    background-image: url('../../images/reserved.png');
}
.info3 {
    background-image: url('../../images/roadRage.png');
}