.nowBody {
    font-family: 'Black Han Sans', sans-serif;
    color: #50d890;
    text-shadow: #000 1px 1px 1px;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
}

.nowServing{
    font-family: 'Black Han Sans', sans-serif;
    color: #fff;
    text-shadow: #000 1px 1px 1px;
    font-size: 5vh;
    width: 100%;
    text-align: center;
    margin: 5vh 0 0 0;
}
.nowCity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    img{
        border-radius: 20px;
        border: #effffb 2px solid;
        // min-width: 300px;
        min-width: 300px;
        height: 20vh;
        margin: 0 8vw;
    }

    &:nth-of-type(5){
        margin-bottom: 10vh;
    }
}