
.sorryBody {
    position: absolute;
    top: 10vh;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    p {
        padding: 20px 5vw;
    }
    img {
        max-height: 80vh;
        min-width: 40%;
        margin: auto;
    }
    div {
        min-width: 40%;
    }

}