
.sorryBody {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        justify-self: center;
        text-align: center;
    }
    img {
        max-height: 80vh;
        max-width: 50%;
    }

}