
.sorryBody {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        padding: 20px 60px;
    }
    img {
        max-height: 80vh;
        max-width: 50%;
        margin: auto;
    }
    div {
        width: 50%;
    }

}