.add-parking {
    margin-top: 14vh;
    margin-left: 2em;
    margin-right: 2em;
    flex-grow: 1;

    h1, h2 {
        text-shadow: #f1f3f4 0 0 2px;
    }
}
/*
.field {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: .5rem;
    align-items: flex-start;
    height: 200%;

    label {
        // column 3
        flex: 0 0 calc(100% * 3 / 12 - 0.5%);
    }

    input {
        // column 4
        flex: 0 0 calc(100% * 4 / 12 - 0.5%);
    }
}

.submit {
    display: flex;
    padding-top: .5rem;
    padding-bottom: .5rem;
    justify-content: space-evenly;

    div {
        // column 7
        // flex: 0 0 calc(100% * 7 / 12 - 0.5%);
        display: flex;
        justify-content: flex-end;
    }
    .insteadBtn {
        background: royalblue;
        box-shadow: 0px 10px 14px -7px blue;
        border:1px solid #fff;
    }
}


form {
    margin: 0.1rem;
    width: 60%;
    font-family: "Black Han Sans", sans-serif;
    text-shadow: lightgrey 1px 1px;
    font-weight: 100;

    input {
        font-size: 20px;
        padding: 5px;
        margin-left: 10px;
      }
}

.form-err {
    color: red;
    // column auto
    flex: auto;
    padding-left: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-shadow: black 1px 1px;
}
*/